/* Обратите внимание на измения для "липкой" шапки, пометил их звездочкой ниже */
header {
    position: relative;
    z-index: 3;
    height: 50px; /* * */
}
nav {
    position: fixed; /* * */
    width: 100%; /* * */
    height: 50px;
    background-color: #212121;
    z-index: 2; /* * */
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.menu .menu_item:last-child {
    border-right: none; /* убираем последний разделитель */ 
}

.subheader {
    position: absolute;
    top: 50px; /* * */
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}



.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: var(--main-color);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
    text-decoration: none;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: var(--main-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.subheader .subheader_btn:hover {
    background-image: none;
    background-color: var(--second-color);
}

.subheader .xs-visible {
    display: none;
}


.promo {
    min-height: 800px;
    background: url('../img/main/main_bg.jpg') center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo_subheader  {
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo .promo_btn:hover {
    background-image: none;
    background-color: var(--second-color);
}

.causes {
    min-height: 900px;
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: var(--main-color);
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.causes .causes_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.causes .causes_block .causes_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: var(--second-color);
    border-radius: 100%;
}

.causes .causes_block .causes_descr  {
    width: 343px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.causes .causes_block .causes_descr span {
    line-height: 21px;
    color: var(--second-color);
    font-size: 17px;
    font-weight: 400;
}

.subtitle {
    font-size: 17px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 19px;
}

.mobile {
    min-height: 864px;
    padding: 48px 0 79px 0;
    background: url(../img/application/application_bg.jpg) center center/cover no-repeat;
}

.mobile .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;    
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
}

.mobile .mobile_item_1 {
    background: url(../img/application/1.jpg) center center/cover no-repeat;
}
.mobile .mobile_item_2 {
    background: url(../img/application/2.jpg) center center/cover no-repeat;
}
.mobile .mobile_item_3 {
    background: url(../img/application/3.jpg) center center/cover no-repeat;
}
.mobile .mobile_item_4 {
    background: url(../img/application/4.jpg) center center/cover no-repeat;
}
.mobile .mobile_item_5 {
    background: url(../img/application/5.jpg) center center/cover no-repeat;
}
.mobile .mobile_item_6 {
    background: url(../img/application/6.jpg) center center/cover no-repeat;
}

.mobile .row {
    margin-top: 32px;
}

.mobile .mobile_item .mobile_item_subtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--main-color);
    text-transform: uppercase;
    line-height: 1.292;
    text-align: center;
}

.mobile .mobile_item .mobile_item_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    width: 26px;
    height: 26px;
    margin: 0 auto;
    cursor: pointer;
}

.mobile .mobile_item .mobile_item_plus::before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background-color: var(--second-color);
    transition: 0.5s all;
}

.mobile .mobile_item .mobile_item_plus::after {
    content: '';
    position: absolute; /* нужно для того, чтобы поставить ровно + по середине */
    left: 50%; /* нужно для того, чтобы поставить ровно + по середине */
    transform: translateX(-50%); /* нужно для того, чтобы поставить ровно + по середине */
    display: block;
    height: 14px;
    width: 2px;
    background-color: var(--second-color);
    transition: 0.5s all;
}

.mobile .mobile_item .mobile_item_plus:hover::after,  .mobile .mobile_item .mobile_item_plus:hover::before {
    background-color: var(--third-color);
}
  
.choice {
    position: relative;
    min-height: 876px;
    background: url(../img/application/application_bg.jpg) center bottom/cover no-repeat;  
    padding: 50px 0 110px 0;

}

.label_white {
    position: relative;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: var(--main-color);
    color: var(--fourth-color);
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}

  
.title_white {
    position: relative;
    margin-bottom: 0;
    margin-top: 38px;
    color: var(--main-color);
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}


.subtitle_white {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
    margin-top: 19px;
    z-index: 2;
}



.choice .choice_auto {
    position: relative;
    display: block;
    margin: 56px auto 0 auto;
    z-index: 2;
    width: 100%;
}


.choice .choice_black {
    background-color: var(--fourth-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 499px;
    width: 100%;
    z-index: 1;
    padding-top: 47px;        
}

.choice .choice_text {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
}

.require {
    min-height: 923px;
    padding: 68px 0 84px 0;
}

.require .require_block {
    margin: 33px 0;
}

.require .require_block_nmb {
    margin-bottom: 0;
}

.require .require_title {
    font-size: 22px;
    font-weight: 400;
    color: var(--second-color);
}

.require .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px;
}

.require .require_list li {
    position: relative;
    font-size: 17px;
    font-weight: 300;
    color: #222222;
    line-height: 24px;
    margin-bottom: 10px;
}

.require .require_list li::before {
    content: '';
    display: block;
    position: absolute;
    left: -32px;
    top: 3px;
    width: 21px;
    height: 20px;
    background: url(../img/conditions/blue.png) center center/cover no-repeat;
}

.require .require_descr {
    font-size: 17px;
    font-weight: 300;
    color: var(--second-color);
}

.require .require_warning .require_title {
    color: var(--third-color);

}

.require .require_warning .require_list li::before {
    background: url(../img/conditions/red.png) center center/cover no-repeat;
}

.cities {

    min-height: 715px;
    background: url(../img/world/map_bg.jpg) center center/cover no-repeat;
    padding: 49px 0 49px 0;
}

.cities .cities_text {
    display: block;
    font-size: 15px;
    line-height: 68px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--second-color); 
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding-top: 479px;
}



.footer {
    min-height: 150px;
    padding: 14px 23px 31px 23px;
}

.footer .footer_divider {
    background-color: var(--second-color);
    width: 299px;
    height: 4px;
    margin: 0 auto;
}

.footer .footer_block {
    display: flex;
    justify-content: space-between;
}

.footer .footer_media {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    margin-top: 32px;
}


.footer .footer_media .footer_media_item {
    border-radius: 100%;
    background-color: var(--fourth-color);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    margin-left: 10px;
    color: var(--main-color);
    text-decoration: none;
}

.footer .footer_media .footer_media_item span {
    display: block;
    margin: 0 auto;
    width: 50%;
}


.footer .footer_text {
    display: block;
    margin-top: 32px;
    width: 33%;

}

.footer .footer_title {
    display: flex;
    justify-content: space-around;
    text-align: center;
} 

.footer .footer_title .footer_title_link {
    color: var(--fourth-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.footer .footer_subtitle {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 12px;
}

.footer .footer_subtitle .footer_subtitle_link {
    font-size: 11px;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

.footer .footer_language {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 19px;
}

.footer .footer_language .footer_language_link {
    font-size: 11px;
    font-weight: 400;
    color: var(--second-color);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.footer .footer_app {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin-top: 32px;
}

.footer .footer_app .footer_app_link {
    margin-right: 15px;
}

